*{
    margin:0;
    padding: 0;
}
body{
    background-color: #0000FF;  
}
#all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

h6{
    font-size: 35px;
}
.play{
    padding-bottom: 30px;
}
.play h1{
    font-size: 150px;
    color: rgb(223, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
.small_rect{
    height: 10px;
    width: 100px;
    background-color: black;
}
.rect{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 180px;
}
.game{
    display: flex;
}
.clickin{
    flex-direction: row;
    text-align: center;
    padding: 20px;
}
.button{
    border-radius: 50%; 
    height: 150px;
    width: 150px;
    border: none;
    transition-duration: .60s;
}
.button1{
    box-shadow: o 30px 60px rgba(0, 0, 0, .5);
    background:url(img/rock.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.button1:hover{
    box-shadow: o 5px 10px rgba(0, 0, 0, .5);
    transform: scale(0.95);
}
.button2{
    box-shadow: o 30px 60px rgba(0, 0, 0, .5);
    background:url(img/paper.png);
    background-repeat: no-repeat;
    background-position: center center;
    
}
.button2:hover{
    box-shadow: o 5px 10px rgba(0, 0, 0, .5);
    transform: scale(0.95);
}
.button3{
    box-shadow: o 30px 60px rgba(0, 0, 0, .5);
    background:url(img/scissor.png);
    background-repeat: no-repeat;
    background-position: center center;

}
.button3:hover{
    box-shadow: o 5px 10px rgba(0, 0, 0, .5);
    transform: scale(0.95);
}

#you_win{
    position: fixed;
    display: none;
    background-color: rgba(0, 255, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    transition-duration: .8s;
}
#you_win h5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    color: rgb(255, 255, 255, 0.5);
    transform : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#you_lose{
    position: fixed;
    display: none;
    background-color: rgba(255, 69, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    transition-duration: .8s;
}
#you_lose h5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    color: rgb(255, 255, 255, 0.5);
    transform : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#draw{ 
    position: fixed;
    display: none;
    background-image: linear-gradient(120deg,
    rgba(0, 255, 0, 0.5),
    rgba(255, 69, 0, 0.5));
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    transition-duration: .8s;
}
#draw h5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    color: rgb(255, 255, 255, 0.5);
    transform : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#you_lose{
    position: fixed;
    display: none;
    background-color: rgba(255, 69, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    transition-duration: .8s;
}
#you_lose h5{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10rem;
    color: rgb(255, 255, 255, 0.5);
    transform : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.waves{
    background-image: url('img/waves.svg');
}
.bottom_spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.bottom_waves{
    background-image: url('img/bottom_waves.svg');
}
     